<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jack.Mapper.LoginMapper">
    <insert id="addUser">
        insert into id_table values(#{id},#{passwd},#{email},#{idtype},#{state})
    </insert>
    <update id="updateById">
        update id_table
        set
            <if test="passwd!=null and passwd!=''">
                passwd = #{passwd},
            </if>
            <if test="email!=null and email!=''">
                email = #{email},
            </if>
            <if test="idtype!=null and idtype!=''">
                idtype = #{idtype},
            </if>
                state = #{state}
        where id = #{id}
    </update>
    <delete id="deleteById">
        delete from id_table where id = #{id}
    </delete>

    <select id="findUser" resultType="com.jack.Pojo.LoginUser">
        select * from id_table where id = #{id}
    </select>
    <select id="selectAll" resultType="com.jack.Pojo.LoginUser">
        select * from id_table
    </select>
<!--    v2方法-->
    <select id="selectPermit" resultType="com.jack.Pojo.dto.PermitDto">
        select id,uname,email,idtype,state from id_table i,user_table u
        <where>
            i.id=u.ucode
            <if test="ucode!=null and ucode!=''">
                and id = #{ucode}
            </if>
        </where>
    </select>
</mapper>